<br><br>

<% if @user %>
    <h2> Story Teller: <%= @user.username %></h2><br>
<% else %>
    <h1>Book Shelf</h1>
<% end %>

<% @stories.each do |s| %>
    <h3><label> Title: </label></h3>
    <ul><%= link_to s.title, story_path(s) %></ul>   
<% end %><br><br>


