<br><br>

<% if @user %>
    <h2> Story Teller: <%= @user.username %></h2><br>
<% else %>
    <h1>Book Shelf</h1>
<% end %>

<h2> Title's To Choose From: </h2>
<% @stories.each do |s| %>    
<ul><%= link_to s.title, story_path(s) %></ul><br>   
<% end %><br><br>


