<h1>Book Shelf</h1>

<%= @stories.each do |s| %>
    <label> Title: </label>
    <ul><%= s.title %></ul>
    <label> Story: </label>
    <ul><%= s.description %></ul>
    <%= s.@user.username %>
<% end %>

